<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学费缴纳查询</title>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
</head>

<body>

<script src="static/js/jquery-3.1.1.js"></script>
<script type="text/javascript" th:src="@{/static/js/jquery-3.1.1.js}"></script>
<br>
<fieldset class="layui-elem-field">
    <legend>学费缴纳明细</legend>
    <div class="layui-field-box layui-form">
        <table class="layui-table admin-table">
            <thead>
            <tr>
                <th style="text-align: center">记录id</th>
                <th style="text-align: center">学号</th>
                <th style="text-align: center">状态</th>
            </tr>
            </thead>
            <tbody id="content">

            </tbody>
        </table>
    </div>
</fieldset>


<table class="layui-hide" id="qrcode" lay-filter="test"></table>


<script>

    $(function () {
        $.ajax({
            type: "POST",
            url: "/tuition/getTuition",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                var s = "";
                if (data.status === 0) {
                    s = "未缴纳";
                } else {
                    s = "已缴纳";
                }
                $("#content").append(
                    `<tr>
                        <td style="text-align: center">${data.tid}</td>
                        <td style="text-align: center">${data.sid}</td>
                        <td style="text-align: center">${s}</td>
                    </tr>`
                );
                if (data.status===0){
                    $("#content").append(
                    `<tr>
                        <td style="text-align: center">扫描二维码缴纳学费</td>
                        <td style="text-align: center" colspan="2">图片</td>
                    </tr>`
                    );
                }
            }
        })
    })


    // layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'jquery', 'form'], function () {
    //     var laydate = layui.laydate,//日期
    //         laypage = layui.laypage, //分页
    //         layer = layui.layer, //弹层
    //         table = layui.table, //表格
    //         carousel = layui.carousel, //轮播
    //         upload = layui.upload, //上传
    //         element = layui.element, //元素操作
    //         slider = layui.slider,//滑块
    //         form = layui.form;
    //     //执行一个 table 实例
    //     table.render({
    //         elem: '#demo'
    //         , height: 550
    //         , url: 'tuition/listTuitions' //数据接口
    //         , title: '成绩查询'
    //         , cols: [
    //             [ //表头
    //                 {field: 'tid', title: '记录ID'}
    //                 , {field: 'sid', title: '学号'}
    //                 , {field: 'status', title: '状态'}
    //             ]
    //         ]
    //         , id: 'selGrade'
    //     });

    // //  按学期查询成绩
    // var $ = layui.$;
    // $('#selBtn').on('click', function () {
    //     //获取输入框
    //     var stime = $('#stime');
    //     //执行重载
    //     table.reload('selGrade', {
    //         page: {
    //             curr: 1 //重新从第 1 页开始selTeacher
    //         }
    //         , where: {
    //             stime: stime.val()
    //         }
    //     });
    // });

    // });


</script>
</body>
</html>