<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学费缴纳查询</title>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
</head>

<body>

<!--<script src="static/js/jquery-3.1.1.js"></script>-->
<script type="text/javascript" th:src="@{/static/js/jquery-3.1.1.js}"></script>
<br>
<fieldset class="layui-elem-field">
    <legend>学费缴纳明细</legend>
    <div class="layui-field-box layui-form">
        <table class="layui-table admin-table">
            <thead>
            <tr>
                <th style="text-align: center">记录id</th>
                <th style="text-align: center">学号</th>
                <th style="text-align: center">状态</th>
            </tr>
            </thead>
            <tbody id="content">

            </tbody>
        </table>
    </div>
</fieldset>


<form class="layui-form" action="payServlet" method="post">
    <!--    <label class="layui-form-label">缴纳款项:</label>-->
    <!--    <input id="subject" type="text" name="subject" value="学费">-->

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">缴纳款项</label>
            <div class="layui-input-block">
                <input class="layui-input" id="subject" type="text" name="subject" value="学费">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">应缴费用</label>
            <div class="layui-input-block">
                <input class="layui-input" id="total_amount" type="text" name="total_amount" value="10000">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-block">
                <input class="layui-btn" type="submit" value="点击缴费">
            </div>
        </div>
    </div>


    <!--    <label class="layui-form-label">应缴费用：</label>-->
    <!--    <input id="total_amount" type="text" name="total_amount" value="10000">-->
    <!--    <input type="submit" value="点击缴费">-->

</form>

<table class="layui-hide" id="qrcode" lay-filter="test"></table>


<script>

    $(function () {
        $.ajax({
            type: "POST",
            url: "/tuition/getTuition",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                var s = "";
                if (data.status === 0) {
                    s = "未缴纳";
                } else {
                    s = "已缴纳";
                }
                $("#content").append(
                    `<tr>
                        <td style="text-align: center">${data.tid}</td>
                        <td style="text-align: center">${data.sid}</td>
                        <td style="text-align: center">${s}</td>
                    </tr>`
                );
                // if (data.status === 0) {
                //     $("#content").append(
                //         `<tr>
                //         <td style="text-align: center">扫描二维码缴纳学费</td>
                //         <td style="text-align: center" colspan="2">图片</td>
                //     </tr>`
                //     );
                // }
            }
        })
    })

    function postorder() {
        var outTradeNo = document.getElementById("ordernum").value;
        var subject = document.getElementById("subject").value;
        var totalAmount = document.getElementById("total").value;
        var body = document.getElementById("descp").value;
        var sendData = JSON.stringify({
            'outTradeNo': outTradeNo,
            'subject': subject,
            'totalAmount': totalAmount,
            'body': body
        });
        alert(sendData);
        $.ajax({
            type: "GET",
            url: "/tuition/aliPay?outTradeNo=" + outTradeNo + "&subject=" + subject + "&totalAmount=" + totalAmount + "&body=" + body,
            // data: sendData,
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                // if (data.status === "0") {
                //     alert("data.msg" + data.msg);
                // } else {
                //     alert("预约成功，返回主页");
                //     $(location).attr('href', "studentIndex.html");
                // }
                alert("data");
                console.log(data);
            }
        })
    }


</script>
</body>
</html>